<!DOCTYPE html>
<html>
    <head>
        <title>Node.js: EU VAT number validation</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/style.css" type="text/css" media="screen">
    </head>
<body>
<div class="container">
    <form action="javascript:;" method="post" id="eu-vat-form" class="form-horizontal">
        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <select name="country" class="form-control" id="country">
                    <option value="">Choose</option>
                    <% countries.forEach(function(country) { %>
                        <option value="<%= country.alpha2Code %>"><%= country.name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="vat" class="col-sm-2 control-label">VAT Number</label>
            <div class="col-sm-10">
                <input type="text" name="vat" class="form-control" id="vat" placeholder="VAT Number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Validate" class="btn btn-primary btn-lg">
                <span id="results"></span>
            </div>
        </div>
    </form>
</div>
<script src="/public/jquery.min.js"></script>
<script src="/public/eu-vat.js"></script>
</body>
</html>